@use 'src/styles/vars';

.chatList {
  width: 100%;
  position: fixed;
  top: 1em;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.8rem;
  transition: all 0.8s; 
}

.chatCard {
  background-color: #fff;
  padding: 0.5%;
  margin-top: 5%;
  width: 80%;
  float: right;
}
