@use 'src/styles/vars';

.settingsRegistration {
  margin: auto;
  height: 80%;
  display: flex;
  flex-direction: column;


  .settingsRegistration--logo {
    width: 70%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
  }

  .settingsRegistration--loginForm {
    background: rgba(249, 0, 0, 0.12);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9.0px);
    -webkit-backdrop-filter: blur(9.0px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-top: 5%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .settingsRegistration--button {
    width: 30%;
    height: 10%;
    margin: 0 auto 0 auto;
    box-shadow: inset -3px 3px 15px 0px #f7c5c0;
    background: linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
    background-color: #fc8d83;
    border-radius: 10px;
    border: 1px solid #d83526;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;

    &:hover {
      background: linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
      background-color: #e4685d;
    }
  }
 
}


.modal {
  margin: 90px auto;
  padding: 30px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  width: 80%;
  position: relative;
  box-shadow: inset -3px 3px 15px 0px #f7c5c0;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(9.0px);
}

.modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.modal .close:hover {
  color: #b23e35;
}
